@font-face {
    font-family: "Apfel Regular";
    src: url("./fonts/ApfelGrotezk-Regular.woff2");
}
@font-face {
    font-family: "Apfel Bold";
    src: url("./fonts/ApfelGrotezk-Fett.woff2");
}
* {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    width: 100%;
    max-width: 100vw;
    overflow-x: hidden;
    font-family: "Apfel Regular";
    /* background: url('./images/noise.gif');
    background-blend-mode: multiply; */
    color: #000;
}
h1, h2, h3, h4, h5 {
    font-family: "Apfel Bold";
}
html,
body {
    cursor: none;
}
a { text-decoration: none; cursor: none; }

@keyframes fadeUp {
    0% { opacity: 0; margin-top: 40px; }
    100% { opacity: 1; margin-top: 0px; }
}

@keyframes dash-spinner {
    0% { border-style: dashed; transform: rotate(0deg); }
    100% { border-style: dashed; transform: rotate(360deg);  }
}