@font-face {
    font-family: "Apfel Regular";
    src: url("./fonts/ApfelGrotezk-Regular.woff2");
}
@font-face {
    font-family: "Apfel Bold";
    src: url("./fonts/ApfelGrotezk-Fett.woff2");
}
* {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    width: 100%;
    max-width: 100vw;
    overflow-x: hidden;
    font-family: "Apfel Regular";
    background: #f5f3f1;
    color: #000;
}
h1, h2, h3, h4, h5 {
    font-family: "Apfel Bold";
}

